* {
}

body {
  width: 100%;
  min-height: 75rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.entries {
  margin: 2rem;
  max-width: 75rem;
}
