

main {

  margin: 5rem 0rem 0rem 16rem;
  w
}


.title {
  text-align: center;
}


.side-bar {
  height: 100%;
  width: 15rem;
  position: fixed;
  z-index: 1;
  background-color: purple;
  overflow-x: hidden;
  
}
