
body {
  height: 75rem;
}

main {
  margin: 5rem 1rem 0rem 16rem;
}

form {
  margin: 1rem;
}


.title {
  text-align: center;
}


.side-bar {
  height: 100%;
  width: 15rem;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  
}

.week-forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}  
