
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

body {
  height: 120rem;
  margin: 15erm;
}

main {
  margin: 5rem 1rem 0rem 16rem;
  padding: 5.5rem 0rem;
}

h2 {
  font-size: 2.5rem;
}

form {
  margin: 1rem;
}

.prev-cities > li {
  margin: 1rem 1rem 1rem 1rem;
}

.city-list {
  width: 100%;
  justify-content: center;
}

.title {
  text-align: center;
  padding: 2.5rem 0rem;
  font-size: 5rem;
  font-weight: bolder;
}

.side-bar {
  height: 100%;
  width: 15rem;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  margin: 5.5rem 0rem 0rem 0rem;  
}

.week-forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}  

